@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  font-family: var(--font-poppins), sans-serif;
}

.dark {
    --background: #0a0a0a;
    --foreground: #ededed;
  } 


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}
